<Modal @ref="modal">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Subir Archivo Profesores</ModalTitle>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            <LoadingIndicator @bind-Visible="isLoading">
                <ChildContent>
                    <Row Class="justify-content-center">
                        <Column ColumnSize="ColumnSize.Is12" Class="justify-content-center">

                            <label for="file-upload" class="file-upload-button">Seleccionar Archivo de Profesores</label>
                            <InputFile id="file-upload" OnChange="@SeleccionarExcel" Class="input-file-hidden" />

                            @if (!string.IsNullOrEmpty(fileName))
                            {
                                <span class="file-name">@fileName</span>
                                <Button Clicked="@LimpiarArchivo" Class="clear-button">✕</Button>
                            }
                        </Column>
                    </Row>
                </ChildContent>
            </LoadingIndicator>
        </ModalBody>
        <ModalFooter>
            <Button Class="btn-outline-danger" Clicked="@Hide">Cerrar</Button>
            <Button Clicked="@Cargar" disabled="@isLoading" Class="file-upload-button">Subir Archivo</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    Modal? modal;

    public bool isLoading { get; set; } = false;

    [Parameter]
    public EventCallback OnInsert { get; set; }

    private IBrowserFile? _selectedFile;
    public string fileName;

    private void LimpiarArchivo()
    {
        _selectedFile = null;
        fileName = string.Empty;
        StateHasChanged();
    }

    private async Task SeleccionarExcel(InputFileChangeEventArgs e)
    {
        try
        {
            _selectedFile = e.File;
            fileName = e.File.Name;
        }
        catch (Exception ex)
        {
        }
        finally
        {
        }
    }

    private async Task Cargar()
    {
        try
        {
            isLoading = true;
            if (_selectedFile != null)
            {

                using (var stream = _selectedFile.OpenReadStream())
                {
                    var buffer = new byte[stream.Length];
                    await stream.ReadAsync(buffer, 0, buffer.Length);

                    OfficeOpenXml.ExcelPackage.LicenseContext = OfficeOpenXml.LicenseContext.NonCommercial;

                    using (var package = new ExcelPackage(new MemoryStream(buffer)))
                    {
                        var worksheets = package.Workbook.Worksheets;
                        if (worksheets.Count > 0)
                        {
                            var worksheet = worksheets[0];
                            for (int i = 2; i <= worksheet.Dimension.End.Row; i++)
                            {
                                var IdProfesor = 0;
                                var Cedula = worksheet.Cells[i, 1].Text;
                                var Nombre = worksheet.Cells[i, 2].Text;
                                var Apellidos = worksheet.Cells[i, 3].Text;
                                var Correo = worksheet.Cells[i, 4].Text;
                                var Telefono = worksheet.Cells[i, 5].Text;
                                var CargaHoraria = Convert.ToInt32( worksheet.Cells[i, 6].Text);

                                // ¿Aquí todo tiene valor válido?
                                await api.Mantenimientos_AddUpdateProfesorAsync(new ProfesorDto()
                                {
                                    Id_Profesor = IdProfesor,
                                    Cedula = Cedula,
                                    Nombre = Nombre,
                                    Apellido = Apellidos,
                                    Correo = Correo,
                                    Telefono = Telefono,
                                    Carga_Horaria = CargaHoraria,
                                    Estado = "A"
                                });

                            }
                        }
                    }
                }
                await Hide();
                await OnInsert.InvokeAsync();

            }
        }
        catch (Exception ex)
        {
        }
        finally
        {
            _selectedFile = null;
            isLoading = false;
        }
    }

    public Task Hide()
    {
        modal?.Close(CloseReason.UserClosing);
        return Task.CompletedTask;
    }

    public async Task Open()
    {
        modal?.Show();
    }    

}
