<Div Class="main-content">
    <LoadingIndicator Visible="@(isLoading)">
        <ChildContent>
            <Div Class="row mb-4 align-items-end">
                <Div Class="col-md-6">
                    <label>Grupo</label>
                    <Select @bind-SelectedValue="reportesModel.Grupo" Class="form-control">
                        <SelectItem Value="@("")">Seleccione una opción</SelectItem>
                        <SelectItem Value="@("1")">Grupo Décimo</SelectItem>
                        <SelectItem Value="@("2")">Grupo Undécimo</SelectItem>
                        <SelectItem Value="@("3")">Grupo Duodécimo</SelectItem>
                        <SelectItem Value="@("4")">Grupo Sordo/mudos</SelectItem>
                        <SelectItem Value="@("5")">Grupo Ciegos</SelectItem>
                    </Select>
                </Div>
                <Div Class="col-md-2 text-end">
                    <Button Class="btn btn-create" Clicked="@GenerarHorario">Generar automáticamente</Button>
                </Div>
            </Div>
            <Div Class="row mb-4">
                <DataGrid TItem="BloqueHorario"
                Data="@bloquesHorario"
                PageSize="16"
                ShowPager="false"
                ShowPageSizes="false"
                ShowCaptions="true"
                Editable="false"
                Responsive="true"
                Hoverable="true"
                Class="table-bordered text-center w-100 no-padding">

                    <DataGridColumn TItem="BloqueHorario" Field="@nameof(BloqueHorario.Hora)" Caption="Hora" Width="180px" />

                    @foreach (var dia in diasSemana)
                    {
                        <DataGridColumn TItem="BloqueHorario" Caption="@dia">
                            <DisplayTemplate Context="context">
                                <Button Class="@DeterminarClase(context.EsReceso)" Clicked="() => modalAsigMateria.Open(dia,context.Hora)">@DeterminarNombre(context.EsReceso)</Button>
                            </DisplayTemplate>
                        </DataGridColumn>
                    }

                </DataGrid>

            </Div>
        </ChildContent>
    </LoadingIndicator>
</Div>
<ModalAsigMateria @ref="modalAsigMateria"></ModalAsigMateria>

@code {
    private bool isLoading = false;
    private ReportesModel reportesModel = new();
    ModalAsigMateria? modalAsigMateria;

    private void GenerarHorario()
    {
        // Lógica de generación de horario
    }

    public class BloqueHorario
    {
        public string Hora { get; set; }
        public bool EsReceso { get; set; }

        public BloqueHorario(string hora, bool esReceso = false)
        {
            Hora = hora;
            EsReceso = esReceso;
        }
    }

    public class ReportesModel
    {
        public string Grupo { get; set; } = string.Empty;
    }

    private List<string> diasSemana = new() { "Lunes", "Martes", "Miércoles", "Jueves", "Viernes" };

    private List<BloqueHorario> bloquesHorario = new()
{
    new("7:00 am - 7:40 am"),
    new("7:40 am - 8:20 am"),
    new("8:20 am - 9:00 am"),
    new("9:00 am - 9:20 am", true),
    new("9:20 am - 10:00 am"),
    new("10:00 am - 10:40 am"),
    new("10:40 am - 11:20 am"),
    new("11:20 am - 12:00 pm", true),
    new("12:00 pm - 12:40 pm"),
    new("12:40 pm - 1:20 pm"),
    new("1:20 pm - 2:00 pm"),
    new("2:00 pm - 2:40 pm"),
    new("2:00 pm - 2:20 pm", true),
    new("2:20 pm - 3:00 pm"),
    new("3:00 pm - 3:40 pm"),
    new("3:40 pm - 4:20 pm")
};


    protected override void OnInitialized()
    {
        
    }

    private string DeterminarNombre( bool esReceso) 
    {
        return esReceso ? "Receso" : "";
    }

    private string DeterminarClase(bool esReceso)
    {
        return esReceso ? "btn btn-secondary w-100 h-100" : "btn btn-outline-primary w-100 h-100";
    }
    
    
}
